h2, dt, dd, p, h1, li {
  font-family: 'Poppins', sans-serif;
  color: #DCDCDC; }

button {
  cursor: pointer; }

.mainIndex {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .mainIndex div {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px; }
    .mainIndex div h1 {
      width: 100%;
      padding: 1%;
      font-weight: bold;
      word-spacing: normal;
      line-height: 100%;
      text-align: center;
      list-style: none;
      font-size: 60px;
      background: #DCDCDC;
      background-clip: unset;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
    .mainIndex div p {
      text-align: center; }
    .mainIndex div button {
      padding: 10px;
      font-family: 'Poppins', sans-serif;
      color: #DCDCDC;
      border: none;
      font-size: 17px;
      border-radius: 10px;
      box-shadow: 1px 1px 1px #DCDCDC; }

.linkLogo {
  width: 125px; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkLogo img{
    width:70px;
}

nav {
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: black; }

.navbar-collapse {
  flex-basis: 100% !important;
  flex-grow: 1;
  align-items: center; }

.collapse:not(.show) {
  display: none !important; }

.collapse {
  visibility: visible !important; }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto; } }

.fondo_items {
  background-color: #304D6D; }

.sectionProds #prod1 {
  min-height: 100vh;
  backdrop-filter: blur(10px); }

.sectionProds #prod2 {
  min-height: 100vh;
  backdrop-filter: blur(10px); }

  .sectionProds #prod3 {
    min-height: 100vh;
    backdrop-filter: blur(10px); }

footer {
  backdrop-filter: blur(10px);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  footer h2 {
    width: 100%;
    padding: 1%;
    font-weight: bold;
    word-spacing: normal;
    line-height: 100%;
    text-align: center;
    list-style: none;
    font-size: 60px;
    background: #DCDCDC;
    background-clip: unset;
    -webkit-background-clip: text; }
  footer p {
    width: 50%;
    text-align: center; }
  footer button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: #DCDCDC;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #DCDCDC; }

* {
  margin: 0;
  padding: 0; }

body {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.nav-link:hover {
  color: #cc92e5; }

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #cc92e5; }

.ia {
  background-image: linear-gradient(45deg, #ff6b6b, #dfee37);
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent; }

.displayNone {
  display: none; }

  @media screen and (max-width: 550px) {
    .mainIndex div{
      width: 100%;
    }
  }

  .button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #7d2ae8;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%),
      radial-gradient(circle, #7d2ae8 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }

  aside{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    flex-direction: column;
    gap: 15px;
  }
  
  aside h2 {
    width: 80%;
    text-align: center;
  }

