body{
    backdrop-filter: blur(10px);
}

footer{
    height: auto;
}

body {
    scroll-behavior: smooth;
    overflow-y: scroll;
    background-image: url(./../../imgs/23.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    height: 100dvh;
    overflow: hidden;
}

iframe{
    width: 100%;
    position: absolute;
    height: 600px;
    bottom: -22px;
}
  